{% extends "base.html" %}
{% block title %}Entry{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h1 style="margin-top: 30px; font-size: 25px;">{{ entry.data }}</h1>

        {% for note in entry_notes %}
        <div class="note-container">
            <div class="note-content">
                <p>{{ note.content }}</p>
            </div>
            {% if note.filename %}
            <div class="note-image">
                <img src="{{ url_for('static', filename='uploads/' + note.filename) }}" alt="Note Picture">
            </div>
            {% endif %}
        </div>
        {% endfor %}

        <form method="POST" action="{{ url_for('views.add_note', entry_id=entry_id) }}" enctype="multipart/form-data">
            <textarea name="note_text" id="note_text" class="form-control" style="height: 300px;"></textarea>
            <br>
            <input type="file" name="file" id="file">
            <br>
            <div align="center">
                <button type="submit" class="btn btn-primary">Save note</button>
            </div>
        </form>
        <br>
        <ul>
            {% for note in entry_notes %}
            <li>{{ note.content }} </li>
                <form action="{{ url_for('views.delete_note', note_id=note.id) }}" method="post" style="display: inline;">
                    <button type="submit" class="btn btn-primary" style="padding: 0px;">Delete Note</button>
                </form>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}