{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-4">
        <h1 align="center" style="margin-top: 100px;">Diary Entries</h1>
        <h1 align="center" style="margin-top: 50px; font-size: 20px;">Add today's date or a title:</h1>
        <ul class="list-group list-group-flush" id="entries">
            {% for entry in entries %}
            <li class="list-group-item">
                <a href="{{ url_for('views.entry', entry_id=entry.id) }}">{{ entry.data}}</a>
                <form action="{{ url_for('views.delete_entry', entry_id=entry.id) }}" method="post" style="display: inline;">
                    <button type="submit" class="close" aria-label="Delete">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </form>


                <ul>
                    {% for note in entry.notes %}
                    <li>{{ note.content }} 
                        <form action="{{ url_for('views.delete_note', note_id=note.id) }}" method="post" style="display: inline;">
                            <button type="submit" class="btn btn-link" style="padding: 0px;">Delete</button>
                        </form>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>


        <form method="POST">
            <textarea name="entry" id="entry" class="form-control"></textarea>
            <br />
            <div align="center">
                <button type="submit" class="btn btn-primary">Add Diary Entry</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}